@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

#servicios {
  scroll-margin-top: 10px;
}

#resenas {
  scroll-margin-top: 150px;
}

#ubicacion {
  scroll-margin-top: 100px;
}

#contacto {
  scroll-margin-top: 100px;
}